@media (max-width: 600px) {
    .container {
      min-width: 375px;
    }
    header {
      margin-top: 70px;
    }
    aside {
      min-width: 375px;
      padding: 50px 30px;
      margin-bottom: 50px;
    }
    .tarrif .price span {
      display: inline-block;
    }
    .tarrif .price span:first-of-type,
    .tarrif .price span:first-of-type span {
      color: var(--main-color);
      font-size: 30px;
      line-height: 30px;
    }
    .start {
      flex-direction: column;
    }
    .start ul {
      align-self: center;
    }
    .start button {
      margin-top: 30px;
    }
  }